{% extends 'bases/admin.html.twig' %}
{% block body %}

    <section class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h1>Mi perfil</h1>
                </div>
                <div class="card-body px-4 py-2-5">

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        {{ form_row(form.nombre1) }}
                        {{ form_row(form.nombre2) }}
                        {{ form_row(form.apellido1) }}
                        {{ form_row(form.apellido2) }}
                        {{ form_row(form.tipoIdentificacionRel) }}
                        {{ form_row(form.numeroIdentificacion) }}
                        {{ form_row(form.celular) }}
                        {{ form_row(form.correo) }}
                        {{ form_row(form.fechaNacimiento) }}
                        {{ form_row(form.btnGuardar) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {{ include('componentes/HojaVida.html.twig', {arHojaVida: arHojaVida}) }}
    </section>

{% endblock %}
