<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" media="screen, print"
          href="{{ asset('admin/assets/css/main/app.css') }}">
    <link rel="stylesheet" media="screen,"
          href="{{ asset('admin/assets/css/pages/auth.css') }}">

    <link rel="shortcut icon" media="screen, print"
          href="{{ asset('admin/assets/images/logo/favicon.svg') }}" type="image/x-icon">

    <link rel="shortcut icon" media="screen, print"
          href="{{ asset('admin/assets/images/logo/favicon.png') }}" type="image/png">


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
